.container {
  position: fixed;
  cursor: pointer;
  top: 40rem;
  left: 80rem;
  display: inline-block;
  padding: 12px 12px 10px;
  border: 0;
  border-radius: 3px;
  background: #bf4d28;
  text-decoration: none;
  transition: all 1.2s ease-in-out;
}

.downloadBtn {
  margin: auto;
}
.top_nav {
  /* position: fixed; */
  width: 100%;
  top: 0;
}
body {
  background-color: rgb(190, 186, 186, 0.3);
}

.bottom_nav {
  display: flex;
  background-color: white;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.bottom_nav sup {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(97, 97, 97);
}

.icon {
  font-size: 3rem;
  color: rgb(62, 127, 255);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.textArea {
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0px 0px 3px 3px rgb(182, 182, 182, 0.5);
  height: 37.5rem;
  width: 38rem;
  /* padding-left: auto;
    padding-right: auto; */
  /* width: 45%;
    height: 140vh; */
  padding: 5rem;
  background-color: white;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  /* border: none; */

  outline: none;
}
.textArea img {
  width: 400px;
}
@media screen and (max-width: 740px) {
    * {
      margin: 0;
      padding: 0;
    }
    .textArea{
        height: fit-content;
        width: fit-content;
    }
}